doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Material Design for Bootstrap
    // Material Design Icons
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Font Awesome
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    // Bootstrap core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Material Design Bootstrap
    link(href='css/mdb.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
  body
    header
      // Navigation
      nav.navbar.light-green
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-2')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand.waves-effect.waves-light(href='/') ViTrade
          #bs-example-navbar-collapse-2.collapse.navbar-collapse
            ul.nav.navbar-nav
              li.active
                a.waves-effect.waves-light(href='/twitter')
                  | Twitter Feeds
                  span.sr-only (current)      // /.Navigation
      main
        // Main Container
        #containerId.container
          // <div class="highlight">
          // <div class= "row">
          //
            <div class="panel panel-default">
            <div class="panel-body">
            <p class="text-center normal-400">
            <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">arrow_back</i></a>
            bought <strong>3000</strong> stalks for <strong>3000<strong>$</strong> on date 2013.5.6
            </p>
            </div>
            </div>
            <div class="panel panel-default">
            <div class="panel-body">
            <p class="text-center normal-400">
            <a class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons">arrow_forward</i></a>
            sold <strong>3000</strong> stalks for <strong>3000<strong>$</strong> on date 2013.5.6
            </p>
            </div>
            </div>
          .row
            .col-md-8
              .collection.z-depth-2
                a.collection-item.light-blue
                  h4.white-text Top Trader's Tweets
                //
                  <a href="#!" class="collection-item">Item 2</a>
                  <a href="#!" class="collection-item">Item 3</a>
                  <a href="#!" class="collection-item">Item 4</a>
                  <a href="#!" class="collection-item">Item 5</a>
                  <a href="#!" class="collection-item">Item 6</a>
                  <a href="#!" class="collection-item">Item 7</a>
                  <div class="collection">
                .panel.panel-info
                  .panel-heading
                    | Marc Chaikin 
                    strong @marcchaikin
                    |  :
                  .panel-body
                    strong $TSLA
                    strong @elonmusk
                    |  Stop hyping stock -be straight with your investors.You keep missing estimates and delivery dates. You're better than this!
                .panel.panel-info
                  .panel-heading
                    | Angela Zhou 
                    strong @z8angela
                    |  :
                  .panel-body
                    | What a powerful bounce from yesterday's pullback! Very encouraging price action is witnessed on 
                    strong $SPY
                    |  with its next tgt to 200ish likely.
                .panel.panel-info
                  .panel-heading
                    | Angela Zhou 
                    strong @z8angela
                    |  :
                  .panel-body
                    | One thing to bear in mind is this: never try to sell at the top. It isn’t wise. Sell after a reaction if there is no rally. -Jesse Livermore
                .panel.panel-info
                  .panel-heading
                    | Marc Chaikin 
                    strong @marcchaikin
                  .panel-body
                    | Stifel Downgraded 
                    strong $M 
                    |  after positive earnings report. Avoid this bearish Power Gauge rated retailer.
                // </div>
                .panel.panel-info
                  .panel-heading
                    | Angela Zhou 
                    strong @z8angela
                    |  :
                  .panel-body
                    strong $SPY
                    |  got rejected at precisely its 50-day SMA of 195ish as mentioned. It may find short-term support at its 21-day SMA which is low of day.
                .panel.panel-info
                  .panel-heading
                    | Kristen Scholer 
                    strong @KristenScholer
                    |  :
                  .panel-body
                    | A lot of people are betting against Tesla Motors. http://on.wsj.com/1OQXcuB  
                    strong $TSLA
                .panel.panel-info
                  .panel-heading
                    | Marc Chaikin 
                    strong @marcchaikin
                    |  :
                  .panel-body
                    strong $TSLA
                    |  disappoints but stock is up. Elon Musk lies with impunity. Power Gauge us bearish !!! Caveat emptor
                .panel.panel-info
                  .panel-heading
                    | Kristen Scholer 
                    strong @KristenScholer
                    |  :
                  .panel-body
                    | Tesla’s stock is tanking after a well-known short seller is getting bearish…again. http://on.wsj.com/1TPrqVB  
                    strong $TSLA
                .panel.panel-info
                  .panel-heading
                    | Bob Pisani 
                    strong @BobPisani
                    |  :
                  .panel-body
                    | Energy 
                    strong $XLE
                    |  leads market lower as Saudi Arabia says will not cut production. First notable weakness since the recent February 11 bottom 
                    strong $SPY
                .panel.panel-info
                  .panel-heading
                    | Angela Zhou 
                    strong @z8angela
                    |  :
                  .panel-body
                    | When I'm bearish & sell a stock, each sale must be at a lower level than the previous sale. When I buy, the reverse is true.-Jesse Livermore
                .panel.panel-info
                  .panel-heading
                    | Bob Pisani 
                    strong @BobPisani
                    |  :
                  .panel-body
                    strong $SPY
                    |  at highs for day. #WTI up 12%,biggest gain since Feb. 2009.Yen weaker.Bonds rally. What happened to "be careful about a 3-day weekend?"
                .panel.panel-info
                  .panel-heading
                    | Bob Pisani 
                    strong @BobPisani
                    |  :
                  .panel-body
                    | Jamie Dimon buys 500,000 shares of 
                    strong $JPM
                    | : good sign? Already owns 6.2 m. shares.
          //
            <table class="table table-hover">
            <thead>
            <tr>
            <strong>$TSLA disappoints but stock is up. Elon Musk lies with impunity. Power Gauge us bearish !!! Caveat emptor
            <th>Status</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Date</th>
            </tr>
            </thead>
            <tbody>
            </table>
    // SCRIPTS
    // JQuery
    script(type='text/javascript', src='js/jquery.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript', src='js/bootstrap.min.js')
    // Material Design Bootstrap
    script(type='text/javascript', src='js/mdb.js')
